<div class="snakeContainer" class="row">

    <div class="scoresContainer">
	<div><span>Select speed (0-100): </span><input type="text" size="10" ng-model="speed" ng-hide="inGame"></div>
		
		<div><span>Select board size (20 max): </span><input type="text" size="10" ng-model="size" ng-hide="inGame"></div>
		<div><span>Go through walls?: </span><input type="checkbox" ng-model="passThrough">{{passThrough}}</div>
		<button ng-model="start" ng-click="startNewGame()"> Start Game </button>


    </div>
		

</div>
